@tailwind base;
@tailwind components;
@tailwind utilities;

.bigContainer {
  display: flex;
  gap: 20px;
  background-color: gray;
  justify-content: center;
  align-items: center;
  flex-direction: space-between;
}
.picture {
  display: flex;
  height: auto;
  width: 10%;
  background-image: none;
  background-repeat: no-repeat;
}

.samsung1 {
  display: flex;
  height: 150px;
  width: 100px;
}
